@font-face {
  font-family: 'Roboto';
  src: url(./assets/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(./assets/RobotoCondensed-Bold.ttf);
}

:root {
  --extrusion: 
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --extrusion-levitating: 
    rgba(0, 0, 0, 0.4) 0px 5px 10px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --text-shadow-1:
    rgba(0, 0, 0, 0.2) 0px 10px 20px,
    rgba(0, 0, 0, 0.25) 0px 6px 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
    url(./assets/alum.png);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  max-width: 400px;
  > main {
    width: 100%;
  }
}

.clock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.clock-button {
  width: 65px;
  height: 65px;
  margin-right: 5px;
  appearance: none;
  border: none;
  border-radius: 5px;
  box-shadow: var(--extrusion);
  transition:
    0.3s box-shadow ease,
    0.3s transform ease,
    0.75s background-color ease;
  padding: 0.5rem;

  &:focus {
    outline: 3px double white;
    outline-offset: -2px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: var(--extrusion-levitating);
    transform: translateY(-3px);
  }

  &:active {
    cursor: pointer;
    box-shadow: var(--extrusion);
    transform: translateY(0px);
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &.playing {
    background-color: crimson;
  }

  &.pausing, &.alerting {
    background-color: deepskyblue;
  }

  &.alerting img {
    animation: spin 2s infinite ease;
  }
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.clock-minutes, .clock-seconds {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-shadow: var(--text-shadow-1);
  color: white;
  &::before {
    content: ':'
  }
}

main, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

button {
  font-size: 1rem;
}

input[type="checkbox"] {
  margin-right: 0!important;
  margin-top: 0.2rem;
}

main {
  position: relative;
  background-color: white;
  box-shadow: var(--extrusion);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.825rem;
}

.input-delay {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 50px;
}

button {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    max-width: 100%;
  }
  &:hover {
    background-color: #F3F4F6;
    cursor: pointer;
  }
}

.setting {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 0.5rem;
  align-items: center;
}

.setting-test-button {
  max-height: 35px;
  grid-column: 1 / 2;
}

.switch-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
  height: 35px;
  padding: 0.5rem;
  border-radius: 5px;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  &.focused {
    cursor: pointer;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px inset
  }
}

.switch-label-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.switch {
  background-color: crimson;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  border-radius: 40px;
  transition: background-color 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset;
  overflow: hidden;
  &::after {
    position: relative;
    content: '';
    top: 3px;
    left: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
    transition: transform 0.5s ease;
  }
  &.on {
    background-color: deepskyblue;
    &::after {
      transform: translateX(22px);
    }
  }
}

.setting-body {
  grid-column: 1 / 3;
  padding: 0.75rem;
  background-color: rgba(0,0,0,0.05);
  box-shadow: 
    rgba(0, 0, 0, 0.15) 0 0 1px inset,
    rgba(0, 0, 0, 0.3) 0px 2px 4px inset;
  border-radius: 5px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: 1rem;
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
}

.setting-body-label {
  display: flex;
  gap: 0.5rem;
}

/* .setting-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}





.setting-header-button {
  width: 30px;
  height: 30px;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    max-width: 100%;
  }
  &:hover {
    background-color: #F3F4F6;
    cursor: pointer;
  }
}

.switch-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
  
  padding: 0.25rem;
  border-radius: 5px;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  &.focused {
    cursor: pointer;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px inset
  }
}







.setting-body-input {
  flex-grow: 1;
} */

b {
  font-weight: normal;
  font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
}

small {
  font-size: 0.825rem;
}

img.white {
  filter: invert(100%)
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.25;
}