@font-face {
  font-family: 'Roboto Condensed';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

:root {
  /* card */
  --extrusion: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* card when "levitating" */
  --extrusion-levitating: rgba(0, 0, 0, 0.4) 0px 5px 10px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* text above background */
  --text-shadow-1: rgba(0, 0, 0, 0.2) 0px 10px 20px,
    rgba(0, 0, 0, 0.25) 0px 6px 6px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/alum.png);
  background-attachment: fixed;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  overflow-x: auto;
}

b {
  font-family: 'Roboto Condensed Bold';
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 500px;
  padding: 1rem;
  gap: 1rem;
  > * {
    width: 100%;
  }
}

/* clock */

.clock-button {
  margin-right: 0.5rem;
  width: 65px;
  min-width: 65px;
  height: 65px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--extrusion);
  transition: 0.3s box-shadow ease, 0.3s transform ease,
    0.5s background-color ease;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
    fill: white;
  }
  &:hover {
    box-shadow: var(--extrusion-levitating);
    transform: translateY(-3px);
  }
  &:active {
    box-shadow: var(--extrusion);
    transform: translateY(0px);
  }
  &.playing {
    background-color: crimson;
  }
  &.pausing,
  &.alerting {
    background-color: deepskyblue;
  }
  &.alerting svg {
    animation: spin 2s ease;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.clock-digits {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-shadow: var(--text-shadow-1);
  color: white;
  &::before {
    content: ':';
  }
}

/* main */

main {
  background-color: white;
  box-shadow: var(--extrusion);
  border-radius: 5px;
  padding: 1rem;
}

.switch {
  position: relative;
  height: 35px;
  border-radius: 5px;
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
  }
}

.switch:not(.unhoverable) {
  &:has(> input[type='checkbox']:focus),
  &:has(> input[type='checkbox']:focus-visible),
  &:hover {
    cursor: pointer;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px inset;
  }
}

.switch-toggle {
  background-color: crimson;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  border-radius: 40px;
  transition: background-color 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset;
  overflow: hidden;
  &::after {
    position: relative;
    content: '';
    top: 3px;
    left: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
    transition: transform 0.5s ease;
  }
  &.on {
    background-color: deepskyblue;
    &::after {
      transform: translateX(22px);
    }
  }
}
