$test: 1px solid red;
$stack: Helvetica, Arial, sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $stack;
}

.clock, .preferences, .footer {
    width: calc(100% - 20px);
    max-width: 400px;
    min-width: 315px;
    border: $test;
    display: flex;
}

.clock {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#pause-play, #minutes, #seconds {
    height: min-content;
}

#pause-play {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

#minutes, #seconds {
    font-weight: bold;
    font-size: 5rem;
    line-height: 4rem;
    letter-spacing: -1px;
    &::before {
        content: ':';
    }
}