@font-face {
    font-family: 'Roboto';
    src: url(../assets/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../assets/RobotoCondensed-Bold.ttf);
}

$stack: Arial, Helvetica, sans-serif;
$test: 1px solid red;
$shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$cardshadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$cardshadowlifted: rgba(0, 0, 0, 0.4) 0px 5px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

* { // reset
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', $stack;
}

body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6)), url(../assets/alum.png);
    background-repeat: repeat;
    background-position: center;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-color: white;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: $cardshadow;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    color: white;
    text-shadow: $shadow;
}

label {
    padding: 3px 0px;
}

small {
    font-style: italic;
}

input, select, button {
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5px;
    padding: 3px 5px;
    &:hover {
        cursor: pointer;
    }
    &[disabled]:hover {
        cursor: auto;
    }
}

input, select, .volume_test {
    &:hover {
        border-color: black;
    }
}

.bold {
    font-weight: normal;
    font-family: 'Roboto Bold', $stack;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

main, .clock {
    width: calc(100% - 20px);
    max-width: 420px;
    display: flex;
}

.clock {
    flex-direction: row;
    margin-bottom: 15px;
}

.clock_button, .clock_minutes, .clock_seconds {
    height: min-content;
}

.clock_minutes, .clock_seconds {
    color: white;
    font-family: $stack;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: $shadow;
    &:before {
        content: ':';
    }
}

.clock_button {
    width: 65px;
    height: 65px;
    margin-right: 5px;
    appearance: none;
    border: none;
    border-radius: 5px;
    box-shadow: $cardshadow;
    transition: 0.3s box-shadow ease, 0.3s transform ease, 0.75s background-color ease;
    &:hover {
        cursor: pointer;
        box-shadow: $cardshadowlifted;
        transform: translateY(-3px);
    }
    &:active {
        box-shadow: $cardshadow;
        transform: translateY(0px);
    }
}

img.white {
    filter: invert(100%);
}

.button_icon {
    width: 40px;
    height: 40px;
}

.playing {
    background-color: crimson;
}

.pausing, .shuffling {
    background-color: deepskyblue;
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
} .spin {animation: spin 2s infinite ease;}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row + .row {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 15px;
}

.left, .right {
    width: 100%;
    display: flex;
}

.delay_input {
    width: 50px;
}

.sound_input {
    width: 100%;
}

.volume_row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.volume_input {
    width: 100%;
}

.volume_test {
    min-width: fit-content;
}

.notify_off, .notify_on {
    transition: 0.3s background-color ease, 0.3s border-color ease, 0.3s color ease;
    background-color: white;
    &:hover {
        cursor: pointer;
        color: white;
    }
}

.notify_off {
    border-color: crimson;
    color: crimson;
    &:hover {
        background-color: rgba(220, 20, 60, .75);
    }
}

.notify_on {
    border-color: deepskyblue;
    color: deepskyblue;
    &:hover {
        background-color: rgba(0,191,255,.75);
    }
}

.notif_options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.biome_adjust {
    font-size: 0.9rem;
}

.footer_icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

.footer_icon {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 440px) {
    label {
        padding: 3px 5px;
    }

    .clock_minutes, .clock_seconds {
        font-size: 5rem;
    }

    .clock_button {
        width: 80px;
        height: 80px;
    }

    .button_icon {
        width: 50px;
        height: 50px;
    }

    .row {
        gap: 10px;
    }

    .left {
        max-width: 65px;
        justify-content: flex-end;
        height: min-content;
    } 
    
    .right {
        width: calc(100% - 75px);
    }
}

@media screen and (max-width: 300px) {
    * {
        font-size: 0.95rem;
    } input, select, button, .biome_adjust {
        font-size: 0.85rem;
    }

    .clock_minutes, .clock_seconds {
        font-size: 3.5rem;
    }
}

.alert {
    max-width: 420px;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    text-align: center;
    border: 1px solid oklch(from crimson calc(l - 0.25) c h);
    color: oklch(from crimson calc(l - 0.25) c h);
    background-color: oklch(from crimson calc(l + 0.5) c h);
    a {
        color: oklch(from crimson calc(l - 0.25) c h);
        font-weight: bold;
    }
}